.td_label {
    min-width: 150px;
    font-weight: bold;
}

.div_group {
    display: inline-block;
    width: 100%;
}

.half_table {
    float: left;
    width: 50%;
    vertical-align: top;
    margin: 10px 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.checked {
    color: orange;
}
.priority {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin-top:-15px;
}

    .priority label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

        .priority label:last-child {
            position: static;
        }

        .priority label:nth-child(1) {
            z-index: 5;
        }

        .priority label:nth-child(2) {
            z-index: 4;
        }

        .priority label:nth-child(3) {
            z-index: 3;
        }

        .priority label:nth-child(4) {
            z-index: 2;
        }

        .priority label:nth-child(5) {
            z-index: 1;
        }

        .priority label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .priority label .icon {
            float: left;
            color: transparent;
        }

        .priority label:last-child .icon {
            color: #000;
        }

    .priority:not(:hover) label input:checked ~ .icon,
    .priority:hover label:hover input ~ .icon {
        color: #09f;
    }

    .priority label input:focus:not(:checked) ~ .icon:last-child {
        color: #000;
        text-shadow: 0 0 5px #09f;
    }

.LabelTitle {
    background-color: transparent;
    color: black;
    font-size: larger;
    color: #7952b3;
    padding-bottom: 20px;
}
