.td_label {
    min-width: 150px;
    font-weight: bold;
}

.div_group {
    display: inline-block;
    width: 100%;
}

.half_table {
    float: left;
    width: 50%;
    vertical-align: top;
    margin: 10px 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


